openapi: 3.0.0
info:
  title: spoonacular Ingredients Recipes API
  description: 'The spoonacular Nutrition, Recipe, and Food API allows you to access over thousands of recipes, thousands of ingredients, 800,000 food products, over 100,000 menu items, and restaurants. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as "gluten free brownies without sugar" or "low fat vegan cupcakes." You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what''s in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.


    Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.'
  contact:
    name: David Urbansky
    email: mail@spoonacular.com
    url: https://spoonacular.com/contact
  version: 2.0.2
  x-codegen-settings:
    Nullify404: false
    GenerateAsyncCode: true
    UseMethodPrefix: true
    UseModelPostfix: false
    UseControllerPrefix: true
    UseEnumPostfix: true
    CollectParameters: false
    UseConstructorsForConfig: true
    UseCommonSDKLibrary: false
    iOSUseAppInfoPlist: true
    AndroidUseAppManifest: true
    BodySerialization: 0
    EnableAdditionalModelProperties: false
    PreserveParameterOrder: false
    AppendContentHeaders: true
    iOSGenerateCoreData: false
    GenerateInterfaces: false
    NodeHttpClient: NODE_REQUEST
    ValidateRequiredParameters: false
    JavaUsePropertiesConfig: false
    Timeout: 0
    StoreTimezoneInformation: false
    EnablePHPComposerVersionString: false
    EnableLogging: false
    ArraySerialization: Indexed
    ModelSerializationScheme: Json
    UseExceptionPrefix: true
    RunscopeEnabled: false
    JavaHttpClient: JAVA_OK
    ParameterArrayFormat: ParamArrayWithIndex
    SecurityProtocols:
    - Ssl3
    - Tls
    GenerateTravisConfig: false
    GenerateCircleConfig: false
    GenerateAppveyorConfig: false
    GenerateJenkinsConfig: false
    EnableHttpCache: false
    Retries: 0
    RetryInterval: 1
    GenerateAdvancedDocs: false
    UnderscoreNumbers: true
    UseSingletonPattern: true
    DisableLinting: false
    ApplyCustomizations: []
    SortResources: false
    AllowSkippingSSLCertVerification: false
    DoNotSplitWords: []
    EnableGlobalUserAgent: true
    ReturnCompleteHttpResponse: false
    GenerateModels: true
    GenerateExceptions: true
    IgnoreIfNullJson: false
    DisableDocs: false
    LiftParameterDescriptionFromCustomType: false
    ThrowForHttpErrorStatusCodes: true
    ResponseMapping:
      Type: Simple
    ForceKeywordArgsInRuby: false
    SymbolizeHashKeysInRuby: false
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://api.spoonacular.com
    parameters: []
  license:
    name: spoonacular API Terms
    url: https://spoonacular.com/food-api/terms
  termsOfService: https://spoonacular.com/food-api/terms
  x-apis-json-aid: spoonacular
  x-spec-source: https://github.com/ddsky/spoonacular-api-clients/blob/master/spoonacular-openapi-3.json
  x-last-validated: '2026-06-03'
  x-providerName: spoonacular.com
servers:
- url: https://api.spoonacular.com
  variables: {}
security:
- apiKeyScheme: []
tags:
- name: Recipes
paths:
  /recipes/complexSearch:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  offset:
                    type: integer
                  number:
                    type: integer
                  results:
                    type: array
                    uniqueItems: true
                    minItems: 0
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                          minLength: 1
                        image:
                          type: string
                          minLength: 1
                        imageType:
                          type: string
                          minLength: 1
                      required:
                      - id
                      - title
                      - image
                      - imageType
                  totalResults:
                    type: integer
                required:
                - offset
                - number
                - results
                - totalResults
              examples:
                example-1:
                  value:
                    offset: 0
                    number: 2
                    results:
                    - id: 716429
                      title: Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs
                      calories: 584
                      carbs: 84g
                      fat: 20g
                      image: https://spoonacular.com/recipeImages/716429-312x231.jpg
                      imageType: jpg
                      protein: 19g
                    - id: 715538
                      title: What to make for dinner tonight?? Bruschetta Style Pork & Pasta
                      calories: 521
                      carbs: 69g
                      fat: 10g
                      image: https://spoonacular.com/recipeImages/715538-312x231.jpg
                      imageType: jpg
                      protein: 35g
                    totalResults: 86
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - $ref: '#/components/parameters/query'
        example: example
      - name: cuisine
        description: The cuisine(s) of the recipes. One or more, comma separated (will be interpreted as 'OR'). See a full list of supported cuisines.
        schema:
          type: string
          example: italian
        required: false
        style: form
        explode: false
        in: query
        example: italian
      - name: excludeCuisine
        description: The cuisine(s) the recipes must not match. One or more, comma separated (will be interpreted as 'AND'). See a full list of supported cuisines.
        schema:
          type: string
          example: greek
        required: false
        style: form
        explode: false
        in: query
        example: greek
      - name: diet
        description: The diet for which the recipes must be suitable. See a full list of supported diets.
        schema:
          type: string
          example: vegetarian
        required: false
        style: form
        explode: false
        in: query
        example: vegetarian
      - name: intolerances
        description: A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.
        schema:
          type: string
          example: gluten
        required: false
        style: form
        explode: false
        in: query
        example: gluten
      - name: equipment
        description: The equipment required. Multiple values will be interpreted as 'or'. For example, value could be "blender, frying pan, bowl".
        schema:
          type: string
          example: pan
        required: false
        style: form
        explode: false
        in: query
        example: pan
      - name: includeIngredients
        description: A comma-separated list of ingredients that should/must be used in the recipes.
        schema:
          type: string
          example: tomato,cheese
        required: false
        style: form
        explode: false
        in: query
        example: tomato,cheese
      - name: excludeIngredients
        description: A comma-separated list of ingredients or ingredient types that the recipes must not contain.
        schema:
          type: string
          example: eggs
        required: false
        style: form
        explode: false
        in: query
        example: eggs
      - name: type
        description: The type of recipe. See a full list of supported meal types.
        schema:
          type: string
          example: main course
        required: false
        style: form
        explode: false
        in: query
        example: main course
      - name: instructionsRequired
        description: Whether the recipes must have instructions.
        schema:
          type: boolean
          example: true
        required: false
        style: form
        explode: false
        in: query
        example: true
      - name: fillIngredients
        description: Add information about the ingredients and whether they are used or missing in relation to the query.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
        example: false
      - name: addRecipeInformation
        description: If set to true, you get more information about the recipes returned.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
        example: false
      - name: addRecipeNutrition
        description: If set to true, you get nutritional information about each recipes returned.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
        example: false
      - name: author
        description: The username of the recipe author.
        schema:
          type: string
          example: coffeebean
        required: false
        style: form
        explode: false
        in: query
        example: coffeebean
      - $ref: '#/components/parameters/tags'
        example: example
      - name: recipeBoxId
        description: The id of the recipe box to which the search should be limited to.
        schema:
          type: integer
          example: 2468
        required: false
        style: form
        explode: false
        in: query
        example: 2468
      - name: titleMatch
        description: Enter text that must be found in the title of the recipes.
        schema:
          type: string
          example: Crock Pot
        required: false
        style: form
        explode: false
        in: query
        example: Crock Pot
      - name: maxReadyTime
        description: The maximum time in minutes it should take to prepare and cook the recipe.
        schema:
          type: number
          example: 20
        required: false
        style: form
        explode: false
        in: query
        example: 20
      - name: minServings
        description: The minimum amount of servings the recipe is for.
        schema:
          type: number
          example: 1
        required: false
        style: form
        explode: false
        in: query
        example: 1
      - name: maxServings
        description: The maximum amount of servings the recipe is for.
        schema:
          type: number
          example: 8
        required: false
        style: form
        explode: false
        in: query
        example: 8
      - $ref: '#/components/parameters/ignorePantry'
        example: example
      - name: sort
        description: The strategy to sort recipes by. See a full list of supported sorting options.
        schema:
          type: string
          example: calories
        required: false
        style: form
        explode: false
        in: query
        example: calories
      - name: sortDirection
        description: The direction in which to sort. Must be either 'asc' (ascending) or 'desc' (descending).
        schema:
          type: string
          example: asc
        required: false
        style: form
        explode: false
        in: query
        example: asc
      - name: minCarbs
        description: The minimum amount of carbohydrates in grams the recipe must have.
        schema:
          type: number
          example: 10
        required: false
        style: form
        explode: false
        in: query
        example: 10
      - name: maxCarbs
        description: The maximum amount of carbohydrates in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minProtein
        description: The minimum amount of protein in grams the recipe must have.
        schema:
          type: number
          example: 10
        required: false
        style: form
        explode: false
        in: query
        example: 10
      - name: maxProtein
        description: The maximum amount of protein in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCalories
        description: The minimum amount of calories the recipe must have.
        schema:
          type: number
          example: 50
        required: false
        style: form
        explode: false
        in: query
        example: 50
      - name: maxCalories
        description: The maximum amount of calories the recipe can have.
        schema:
          type: number
          example: 800
        required: false
        style: form
        explode: false
        in: query
        example: 800
      - name: minFat
        description: The minimum amount of fat in grams the recipe must have.
        schema:
          type: number
          example: 1
        required: false
        style: form
        explode: false
        in: query
        example: 1
      - name: maxFat
        description: The maximum amount of fat in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minAlcohol
        description: The minimum amount of alcohol in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxAlcohol
        description: The maximum amount of alcohol in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCaffeine
        description: The minimum amount of caffeine in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCaffeine
        description: The maximum amount of caffeine in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCopper
        description: The minimum amount of copper in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCopper
        description: The maximum amount of copper in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCalcium
        description: The minimum amount of calcium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCalcium
        description: The maximum amount of calcium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCholine
        description: The minimum amount of choline in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCholine
        description: The maximum amount of choline in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCholesterol
        description: The minimum amount of cholesterol in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCholesterol
        description: The maximum amount of cholesterol in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFluoride
        description: The minimum amount of fluoride in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFluoride
        description: The maximum amount of fluoride in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSaturatedFat
        description: The minimum amount of saturated fat in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSaturatedFat
        description: The maximum amount of saturated fat in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminA
        description: The minimum amount of Vitamin A in IU the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminA
        description: The maximum amount of Vitamin A in IU the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminC
        description: The minimum amount of Vitamin C milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminC
        description: The maximum amount of Vitamin C in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminD
        description: The minimum amount of Vitamin D in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminD
        description: The maximum amount of Vitamin D in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminE
        description: The minimum amount of Vitamin E in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminE
        description: The maximum amount of Vitamin E in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminK
        description: The minimum amount of Vitamin K in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminK
        description: The maximum amount of Vitamin K in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB1
        description: The minimum amount of Vitamin B1 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB1
        description: The maximum amount of Vitamin B1 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB2
        description: The minimum amount of Vitamin B2 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB2
        description: The maximum amount of Vitamin B2 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB5
        description: The minimum amount of Vitamin B5 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB5
        description: The maximum amount of Vitamin B5 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB3
        description: The minimum amount of Vitamin B3 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB3
        description: The maximum amount of Vitamin B3 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB6
        description: The minimum amount of Vitamin B6 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB6
        description: The maximum amount of Vitamin B6 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB12
        description: The minimum amount of Vitamin B12 in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB12
        description: The maximum amount of Vitamin B12 in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFiber
        description: The minimum amount of fiber in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFiber
        description: The maximum amount of fiber in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFolate
        description: The minimum amount of folate in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFolate
        description: The maximum amount of folate in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFolicAcid
        description: The minimum amount of folic acid in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFolicAcid
        description: The maximum amount of folic acid in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minIodine
        description: The minimum amount of iodine in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxIodine
        description: The maximum amount of iodine in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minIron
        description: The minimum amount of iron in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxIron
        description: The maximum amount of iron in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minMagnesium
        description: The minimum amount of magnesium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxMagnesium
        description: The maximum amount of magnesium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minManganese
        description: The minimum amount of manganese in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxManganese
        description: The maximum amount of manganese in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minPhosphorus
        description: The minimum amount of phosphorus in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxPhosphorus
        description: The maximum amount of phosphorus in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minPotassium
        description: The minimum amount of potassium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxPotassium
        description: The maximum amount of potassium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSelenium
        description: The minimum amount of selenium in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSelenium
        description: The maximum amount of selenium in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSodium
        description: The minimum amount of sodium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSodium
        description: The maximum amount of sodium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSugar
        description: The minimum amount of sugar in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSugar
        description: The maximum amount of sugar in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minZinc
        description: The minimum amount of zinc in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxZinc
        description: The maximum amount of zinc in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - $ref: '#/components/parameters/offset'
        example: example
      - $ref: '#/components/parameters/number'
        example: example
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Recipes
      summary: Search Recipes
      description: 'Search through hundreds of thousands of recipes using advanced filtering and ranking. NOTE: This method combines searching by query, by ingredients, and by nutrients into one endpoint.'
      operationId: searchRecipes
      deprecated: false
      tags:
      - Recipes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recipes/findByIngredients:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 0
                uniqueItems: true
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    image:
                      type: string
                      minLength: 1
                    imageType:
                      type: string
                      minLength: 1
                    likes:
                      type: integer
                    missedIngredientCount:
                      type: integer
                    missedIngredients:
                      type: array
                      uniqueItems: true
                      minItems: 0
                      items:
                        type: object
                        properties:
                          aisle:
                            type: string
                            minLength: 1
                          amount:
                            type: number
                          id:
                            type: integer
                          image:
                            type: string
                            minLength: 1
                          meta:
                            type: array
                            items:
                              type: string
                          name:
                            type: string
                            minLength: 1
                          extendedName:
                            type: string
                            minLength: 1
                          original:
                            type: string
                            minLength: 1
                          originalName:
                            type: string
                            minLength: 1
                          unit:
                            type: string
                            minLength: 0
                          unitLong:
                            type: string
                            minLength: 0
                          unitShort:
                            type: string
                            minLength: 0
                        required:
                        - aisle
                        - amount
                        - id
                        - image
                        - name
                        - original
                        - originalName
                        - unit
                        - unitLong
                        - unitShort
                    title:
                      type: string
                      minLength: 1
                    unusedIngredients:
                      type: array
                      minItems: 0
                      items:
                        type: object
                    usedIngredientCount:
                      type: number
                    usedIngredients:
                      type: array
                      uniqueItems: true
                      minItems: 0
                      items:
                        type: object
                        properties:
                          aisle:
                            type: string
                            minLength: 1
                          amount:
                            type: number
                          id:
                            type: integer
                          image:
                            type: string
                            minLength: 1
                          meta:
                            type: array
                            items:
                              type: string
                          name:
                            type: string
                            minLength: 1
                          extendedName:
                            type: string
                            minLength: 1
                          original:
                            type: string
                            minLength: 1
                          originalName:
                            type: string
                            minLength: 1
                          unit:
                            type: string
                            minLength: 0
                          unitLong:
                            type: string
                            minLength: 0
                          unitShort:
                            type: string
                            minLength: 0
                        required:
                        - aisle
                        - amount
                        - id
                        - image
                        - name
                        - original
                        - originalName
                        - unit
                        - unitLong
                        - unitShort
                  required:
                  - id
                  - image
                  - imageType
                  - likes
                  - missedIngredientCount
                  - missedIngredients
                  - title
                  - unusedIngredients
                  - usedIngredientCount
                  - usedIngredients
              examples:
                example-1:
                  value:
                  - id: 73420
                    image: https://spoonacular.com/recipeImages/73420-312x231.jpg
                    imageType: jpg
                    likes: 0
                    missedIngredientCount: 3
                    missedIngredients:
                    - aisle: Baking
                      amount: 1
                      id: 18371
                      image: https://spoonacular.com/cdn/ingredients_100x100/white-powder.jpg
                      meta: []
                      name: baking powder
                      original: 1 tsp baking powder
                      originalName: baking powder
                      unit: tsp
                      unitLong: teaspoon
                      unitShort: tsp
                    - aisle: Spices and Seasonings
                      amount: 1
                      id: 2010
                      image: https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg
                      meta: []
                      name: cinnamon
                      original: 1 tsp cinnamon
                      originalName: cinnamon
                      unit: tsp
                      unitLong: teaspoon
                      unitShort: tsp
                    - aisle: Milk, Eggs, Other Dairy
                      amount: 1
                      id: 1123
                      image: https://spoonacular.com/cdn/ingredients_100x100/egg.png
                      meta: []
                      name: egg
                      original: 1 egg
                      originalName: egg
                      unit: ''
                      unitLong: ''
                      unitShort: ''
                    title: Apple Or Peach Strudel
                    unusedIngredients: []
                    usedIngredientCount: 1
                    usedIngredients:
                    - aisle: Produce
                      amount: 6
                      id: 9003
                      image: https://spoonacular.com/cdn/ingredients_100x100/apple.jpg
                      meta: []
                      name: apples
                      original: 6 large baking apples
                      originalName: baking apples
                      unit: large
                      unitLong: larges
                      unitShort: large
                  - id: 632660
                    image: https://spoonacular.com/recipeImages/632660-312x231.jpg
                    imageType: jpg
                    likes: 3
                    missedIngredientCount: 4
                    missedIngredients:
                    - aisle: Milk, Eggs, Other Dairy
                      amount: 1.5
                      extendedName: unsalted butter
                      id: 1001
                      image: https://spoonacular.com/cdn/ingredients_100x100/butter-sliced.jpg
                      meta:
                      - unsalted
                      - cold
                      name: butter
                      original: 1 1/2 sticks cold unsalted butter cold unsalted butter<
                      originalName: cold unsalted butter cold unsalted butter<
                      unit: sticks
                      unitLong: sticks
                      unitShort: sticks
                    - aisle: Produce
                      amount: 4
                      id: 1079003
                      image: https://spoonacular.com/cdn/ingredients_100x100/red-delicious-apples.png
                      meta:
                      - red
                      - ' such as golden delicious, peeled, cored and cut into 1/4-inch-thick slices '
                      name: red apples
                      original: 4 larges red apples, such as Golden Delicious, peeled, cored and cut into 1/4-inch-thick slices
                      originalName: s red apples, such as Golden Delicious, peeled, cored and cut into 1/4-inch-thick slices
                      unit: large
                      unitLong: larges
                      unitShort: large
                    - aisle: Spices and Seasonings
                      amount: 2
                      id: 2010
                      image: https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg
                      meta: []
                      name: cinnamon
                      original: 2 teaspoons cinnamon
                      originalName: cinnamon
                      unit: teaspoons
                      unitLong: teaspoons
                      unitShort: tsp
                    - aisle: Nut butters, Jams, and Honey
                      amount: 2
                      id: 19719
                      image: https://spoonacular.com/cdn/ingredients_100x100/apricot-jam.jpg
                      meta:
                      - melted
                      name: apricot preserves
                      original: 2 tablespoons apricot preserves, melted and strained
                      originalName: apricot preserves, melted and strained
                      unit: tablespoons
                      unitLong: tablespoons
                      unitShort: Tbsp
                    title: Apricot Glazed Apple Tart
                    unusedIngredients:
                    - aisle: Produce
                      amount: 1
                      id: 9003
                      image: https://spoonacular.com/cdn/ingredients_100x100/apple.jpg
                      meta: []
                      name: apples
                      original: apples
                      originalName: apples
                      unit: serving
                      unitLong: serving
                      unitShort: serving
                    usedIngredientCount: 0
                    usedIngredients: []
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - $ref: '#/components/parameters/ingredients'
        example: example
      - $ref: '#/components/parameters/number'
        example: example
      - name: ranking
        description: Whether to maximize used ingredients (1) or minimize missing ingredients (2) first.
        schema:
          type: integer
          example: 1
        required: false
        style: form
        explode: false
        in: query
        example: 1
      - $ref: '#/components/parameters/ignorePantry'
        example: example
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Recipes-by-Ingredients
      summary: Search Recipes by Ingredients
      description: "\nEver wondered what recipes you can cook with the ingredients you have in your fridge or pantry? This endpoint lets you find recipes that either maximize the usage of ingredients you have at hand (pre shopping) or minimize the ingredients that you don't currently have (post shopping).\n        "
      operationId: searchRecipesByIngredients
      deprecated: false
      tags:
      - Recipes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recipes/findByNutrients:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 0
                uniqueItems: true
                items:
                  type: object
                  properties:
                    calories:
                      type: number
                    carbs:
                      type: string
                      minLength: 1
                    fat:
                      type: string
                      minLength: 1
                    id:
                      type: integer
                    image:
                      type: string
                      minLength: 1
                    imageType:
                      type: string
                      minLength: 1
                    protein:
                      type: string
                      minLength: 1
                    title:
                      type: string
                      minLength: 1
                  required:
                  - calories
                  - carbs
                  - fat
                  - id
                  - image
                  - imageType
                  - protein
                  - title
              examples:
                example-1:
                  value:
                  - calories: 210
                    carbs: 43g
                    fat: 3g
                    id: 90629
                    image: https://spoonacular.com/recipeImages/90629-312x231.jpg
                    imageType: jpg
                    protein: 1g
                    title: Baked Apples in White Wine
                  - calories: 226
                    carbs: 33g
                    fat: 10g
                    id: 284420
                    image: https://spoonacular.com/recipeImages/284420-312x231.jpg
                    imageType: jpg
                    protein: 2g
                    title: Chocolate Silk Pie with Marshmallow Meringue
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: minCarbs
        description: The minimum amount of carbohydrates in grams the recipe must have.
        schema:
          type: number
          example: 10
        required: false
        style: form
        explode: false
        in: query
        example: 10
      - name: maxCarbs
        description: The maximum amount of carbohydrates in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minProtein
        description: The minimum amount of protein in grams the recipe must have.
        schema:
          type: number
          example: 10
        required: false
        style: form
        explode: false
        in: query
        example: 10
      - name: maxProtein
        description: The maximum amount of protein in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCalories
        description: The minimum amount of calories the recipe must have.
        schema:
          type: number
          example: 50
        required: false
        style: form
        explode: false
        in: query
        example: 50
      - name: maxCalories
        description: The maximum amount of calories the recipe can have.
        schema:
          type: number
          example: 800
        required: false
        style: form
        explode: false
        in: query
        example: 800
      - name: minFat
        description: The minimum amount of fat in grams the recipe must have.
        schema:
          type: number
          example: 1
        required: false
        style: form
        explode: false
        in: query
        example: 1
      - name: maxFat
        description: The maximum amount of fat in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minAlcohol
        description: The minimum amount of alcohol in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxAlcohol
        description: The maximum amount of alcohol in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCaffeine
        description: The minimum amount of caffeine in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCaffeine
        description: The maximum amount of caffeine in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCopper
        description: The minimum amount of copper in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCopper
        description: The maximum amount of copper in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCalcium
        description: The minimum amount of calcium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCalcium
        description: The maximum amount of calcium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCholine
        description: The minimum amount of choline in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCholine
        description: The maximum amount of choline in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minCholesterol
        description: The minimum amount of cholesterol in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxCholesterol
        description: The maximum amount of cholesterol in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFluoride
        description: The minimum amount of fluoride in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFluoride
        description: The maximum amount of fluoride in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSaturatedFat
        description: The minimum amount of saturated fat in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSaturatedFat
        description: The maximum amount of saturated fat in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminA
        description: The minimum amount of Vitamin A in IU the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminA
        description: The maximum amount of Vitamin A in IU the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminC
        description: The minimum amount of Vitamin C in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminC
        description: The maximum amount of Vitamin C in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminD
        description: The minimum amount of Vitamin D in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminD
        description: The maximum amount of Vitamin D in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminE
        description: The minimum amount of Vitamin E in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminE
        description: The maximum amount of Vitamin E in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminK
        description: The minimum amount of Vitamin K in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminK
        description: The maximum amount of Vitamin K in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB1
        description: The minimum amount of Vitamin B1 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB1
        description: The maximum amount of Vitamin B1 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB2
        description: The minimum amount of Vitamin B2 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB2
        description: The maximum amount of Vitamin B2 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB5
        description: The minimum amount of Vitamin B5 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB5
        description: The maximum amount of Vitamin B5 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB3
        description: The minimum amount of Vitamin B3 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB3
        description: The maximum amount of Vitamin B3 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB6
        description: The minimum amount of Vitamin B6 in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB6
        description: The maximum amount of Vitamin B6 in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minVitaminB12
        description: The minimum amount of Vitamin B12 in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxVitaminB12
        description: The maximum amount of Vitamin B12 in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFiber
        description: The minimum amount of fiber in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFiber
        description: The maximum amount of fiber in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFolate
        description: The minimum amount of folate in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFolate
        description: The maximum amount of folate in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minFolicAcid
        description: The minimum amount of folic acid in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxFolicAcid
        description: The maximum amount of folic acid in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minIodine
        description: The minimum amount of iodine in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxIodine
        description: The maximum amount of iodine in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minIron
        description: The minimum amount of iron in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxIron
        description: The maximum amount of iron in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minMagnesium
        description: The minimum amount of magnesium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxMagnesium
        description: The maximum amount of magnesium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minManganese
        description: The minimum amount of manganese in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxManganese
        description: The maximum amount of manganese in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minPhosphorus
        description: The minimum amount of phosphorus in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxPhosphorus
        description: The maximum amount of phosphorus in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minPotassium
        description: The minimum amount of potassium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxPotassium
        description: The maximum amount of potassium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSelenium
        description: The minimum amount of selenium in micrograms the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSelenium
        description: The maximum amount of selenium in micrograms the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSodium
        description: The minimum amount of sodium in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSodium
        description: The maximum amount of sodium in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minSugar
        description: The minimum amount of sugar in grams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxSugar
        description: The maximum amount of sugar in grams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - name: minZinc
        description: The minimum amount of zinc in milligrams the recipe must have.
        schema:
          type: number
          example: 0
        required: false
        style: form
        explode: false
        in: query
        example: 0
      - name: maxZinc
        description: The maximum amount of zinc in milligrams the recipe can have.
        schema:
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
        example: 100
      - $ref: '#/components/parameters/offset'
        example: example
      - $ref: '#/components/parameters/number'
        example: example
      - name: random
        description: If true, every request will give you a random set of recipes within the requested limits.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
        example: false
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Recipes-by-Nutrients
      summary: Search Recipes by Nutrients
      description: Find a set of recipes that adhere to the given nutritional limits. You may set limits for macronutrients (calories, protein, fat, and carbohydrate) and/or many micronutrients.
      operationId: searchRecipesByNutrients
      deprecated: false
      tags:
      - Recipes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recipes/{id}/information:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeInformation'
              examples:
                GetRecipeInformation200Example:
                  summary: Default getRecipeInformation 200 response
                  x-microcks-default: true
                  value:
                    id: 716429
                    title: Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs
                    image: https://spoonacular.com/recipeImages/716429-556x370.jpg
                    imageType: jpg
                    servings: 2
                    readyInMinutes: 45
                    license: CC BY-SA 3.0
                    sourceName: Full Belly Sisters
                    sourceUrl: http://fullbellysisters.blogspot.com/2012/06/pasta-with-garlic-scallions-cauliflower.html
                    spoonacularSourceUrl: https://spoonacular.com/pasta-with-garlic-scallions-cauliflower-breadcrumbs-716429
                    aggregateLikes: 209
                    healthScore: 19
                    spoonacularScore: 83
                    pricePerServing: 163.15
                    analyzedInstructions: []
                    cheap: false
                    creditsText: Full Belly Sisters
                    cuisines: []
                    dairyFree: false
                    diets: []
                    gaps: 'no'
                    glutenFree: false
                    instructions: ''
                    lowFodmap: false
                    occasions: []
                    sustainable: false
                    vegan: false
                    vegetarian: false
                    veryHealthy: false
                    veryPopular: false
                    weightWatcherSmartPoints: 17
                    dishTypes:
                    - lunch
                    - main course
                    - main dish
                    - dinner
                    extendedIngredients:
                    - aisle: Milk, Eggs, Other Dairy
                      amount: 1
                      consistency: solid
                      id: 1001
                      image: butter-sliced.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: butter
                      original: 1 tbsp butter
                      originalName: butter
                      unit: tbsp
                    - aisle: Produce
                      amount: 2
                      consistency: solid
                      id: 10011135
                      image: cauliflower.jpg
                      measures:
                        metric:
                          amount: 473.176
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 2
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - frozen
                      - thawed
                      - cut into bite-sized pieces
                      name: cauliflower florets
                      original: about 2 cups frozen cauliflower florets, thawed, cut into bite-sized pieces
                      originalName: about frozen cauliflower florets, thawed, cut into bite-sized pieces
                      unit: cups
                    - aisle: Cheese
                      amount: 2
                      consistency: solid
                      id: 1041009
                      image: cheddar-cheese.png
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - grated
                      - (I used romano)
                      name: cheese
                      original: 2 tbsp grated cheese (I used romano)
                      originalName: grated cheese (I used romano)
                      unit: tbsp
                    - aisle: Oil, Vinegar, Salad Dressing
                      amount: 1
                      consistency: liquid
                      id: 1034053
                      image: olive-oil.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: extra virgin olive oil
                      original: 1-2 tbsp extra virgin olive oil
                      originalName: extra virgin olive oil
                      unit: tbsp
                    - aisle: Produce
                      amount: 5
                      consistency: solid
                      id: 11215
                      image: garlic.jpg
                      measures:
                        metric:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                        us:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                      meta: []
                      name: garlic
                      original: 5-6 cloves garlic
                      originalName: garlic
                      unit: cloves
                    - aisle: Pasta and Rice
                      amount: 6
                      consistency: solid
                      id: 20420
                      image: fusilli.jpg
                      measures:
                        metric:
                          amount: 170.097
                          unitLong: grams
                          unitShort: g
                        us:
                          amount: 6
                          unitLong: ounces
                          unitShort: oz
                      meta:
                      - (I used linguine)
                      name: pasta
                      original: 6-8 ounces pasta (I used linguine)
                      originalName: pasta (I used linguine)
                      unit: ounces
                    - aisle: Spices and Seasonings
                      amount: 2
                      consistency: solid
                      id: 1032009
                      image: red-pepper-flakes.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                        us:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                      meta:
                      - red
                      name: red pepper flakes
                      original: couple of pinches red pepper flakes, optional
                      originalName: couple of red pepper flakes, optional
                      unit: pinches
                    - aisle: Spices and Seasonings
                      amount: 2
                      consistency: solid
                      id: 1102047
                      image: salt-and-pepper.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                        us:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                      meta:
                      - to taste
                      name: salt and pepper
                      original: salt and pepper, to taste
                      originalName: salt and pepper, to taste
                      unit: servings
                    - aisle: Produce
                      amount: 3
                      consistency: solid
                      id: 11291
                      image: spring-onions.jpg
                      measures:
                        metric:
                          amount: 3
                          unitLong: ''
                          unitShort: ''
                        us:
                          amount: 3
                          unitLong: ''
                          unitShort: ''
                      meta:
                      - white
                      - green
                      - separated
                      - chopped
                      name: scallions
                      original: 3 scallions, chopped, white and green parts separated
                      originalName: scallions, chopped, white and green parts separated
                      unit: ''
                    - aisle: Alcoholic Beverages
                      amount: 2
                      consistency: liquid
                      id: 14106
                      image: white-wine.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - white
                      name: white wine
                      original: 2-3 tbsp white wine
                      originalName: white wine
                      unit: tbsp
                    - aisle: Pasta and Rice
                      amount: 0.25
                      consistency: solid
                      id: 99025
                      image: breadcrumbs.jpg
                      measures:
                        metric:
                          amount: 59.147
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 0.25
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - whole wheat
                      - (I used panko)
                      name: whole wheat bread crumbs
                      original: 1/4 cup whole wheat bread crumbs (I used panko)
                      originalName: whole wheat bread crumbs (I used panko)
                      unit: cup
                    summary: 'Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs might be a good recipe to expand your main course repertoire. One portion of this dish contains approximately &lt;b&gt;19g of protein &lt;/b&gt;,  &lt;b&gt;20g of fat &lt;/b&gt;, and a total of  &lt;b&gt;584 calories &lt;/b&gt;. For  &lt;b&gt;$1.63 per serving &lt;/b&gt;, this recipe  &lt;b&gt;covers 23% &lt;/b&gt; of your daily requirements of vitamins and minerals. This recipe serves 2. It is brought to you by fullbellysisters.blogspot.com. 209 people were glad they tried this recipe. A mixture of scallions, salt and pepper, white wine, and a handful of other ingredients are all it takes to make this recipe so scrumptious. From preparation to the plate, this recipe takes approximately  &lt;b&gt;45 minutes &lt;/b&gt;. All things considered, we decided this recipe  &lt;b&gt;deserves a spoonacular score of 83% &lt;/b&gt;. This score is awesome. If you like this recipe, take a look at these similar recipes: &lt;a href="https://spoonacular.com/recipes/cauliflower-gratin-with-garlic-breadcrumbs-318375">Cauliflower Gratin with Garlic Breadcrumbs&lt;/a&gt;, &lt; href="https://spoonacular.com/recipes/pasta-with-cauliflower-sausage-breadcrumbs-30437">Pasta With Cauliflower, Sausage, & Breadcrumbs&lt;/a&gt;, and &lt;a href="https://spoonacular.com/recipes/pasta-with-roasted-cauliflower-parsley-and-breadcrumbs-30738">Pasta With Roasted Cauliflower, Parsley, And Breadcrumbs&lt;/a&gt;.'
                    winePairing:
                      pairedWines:
                      - chardonnay
                      - gruener veltliner
                      - sauvignon blanc
                      pairingText: Chardonnay, Gruener Veltliner, and Sauvignon Blanc are great choices for Pasta. Sauvignon Blanc and Gruner Veltliner both have herby notes that complement salads with enough acid to match tart vinaigrettes, while a Chardonnay can be a good pick for creamy salad dressings. The Buddha Kat Winery Chardonnay with a 4 out of 5 star rating seems like a good match. It costs about 25 dollars per bottle.
                      productMatches:
                      - id: 469199
                        title: Buddha Kat Winery Chardonnay
                        description: We barrel ferment our Chardonnay and age it in a mix of Oak and Stainless. Giving this light bodied wine modest oak character, a delicate floral aroma, and a warming finish.
                        price: $25.0
                        imageUrl: https://spoonacular.com/productImages/469199-312x231.jpg
                        averageRating: 0.8
                        ratingCount: 1
                        score: 0.55
                        link: https://www.amazon.com/2015-Buddha-Kat-Winery-Chardonnay/dp/B00OSAVVM4?tag=spoonacular-20
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: id
        description: The id of the recipe.
        schema:
          type: integer
          example: 716429
        required: true
        style: simple
        explode: false
        in: path
        example: 716429
      - $ref: '#/components/parameters/includeNutrition'
        example: example
      - name: addWinePairing
        description: Add a wine pairing to the recipe.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
        example: false
      - name: addTasteData
        description: Add taste data to the recipe.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
        example: false
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Recipe-Information
      summary: Get Recipe Information
      description: Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.
      operationId: getRecipeInformation
      deprecated: false
      tags:
      - Recipes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recipes/informationBulk:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/RecipeInformation'
              examples:
                GetRecipeInformationBulk200Example:
                  summary: Default getRecipeInformationBulk 200 response
                  x-microcks-default: true
                  value:
                  - id: 716429
                    title: Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs
                    image: https://spoonacular.com/recipeImages/716429-556x370.jpg
                    imageType: jpg
                    servings: 2
                    readyInMinutes: 45
                    license: CC BY-SA 3.0
                    sourceName: Full Belly Sisters
                    sourceUrl: http://fullbellysisters.blogspot.com/2012/06/pasta-with-garlic-scallions-cauliflower.html
                    spoonacularSourceUrl: https://spoonacular.com/pasta-with-garlic-scallions-cauliflower-breadcrumbs-716429
                    aggregateLikes: 209
                    healthScore: 19
                    spoonacularScore: 83
                    pricePerServing: 163.15
                    analyzedInstructions: []
                    cheap: false
                    creditsText: Full Belly Sisters
                    cuisines: []
                    dairyFree: false
                    diets: []
                    gaps: 'no'
                    glutenFree: false
                    instructions: ''
                    lowFodmap: false
                    occasions: []
                    sustainable: false
                    vegan: false
                    vegetarian: false
                    veryHealthy: false
                    veryPopular: false
                    weightWatcherSmartPoints: 17
                    dishTypes:
                    - lunch
                    - main course
                    - main dish
                    - dinner
                    extendedIngredients:
                    - aisle: Milk, Eggs, Other Dairy
                      amount: 1
                      consistency: solid
                      id: 1001
                      image: butter-sliced.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: butter
                      original: 1 tbsp butter
                      originalName: butter
                      unit: tbsp
                    - aisle: Produce
                      amount: 2
                      consistency: solid
                      id: 10011135
                      image: cauliflower.jpg
                      measures:
                        metric:
                          amount: 473.176
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 2
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - frozen
                      - thawed
                      - cut into bite-sized pieces
                      name: cauliflower florets
                      original: about 2 cups frozen cauliflower florets, thawed, cut into bite-sized pieces
                      originalName: about frozen cauliflower florets, thawed, cut into bite-sized pieces
                      unit: cups
                    - aisle: Cheese
                      amount: 2
                      consistency: solid
                      id: 1041009
                      image: cheddar-cheese.png
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - grated
                      - (I used romano)
                      name: cheese
                      original: 2 tbsp grated cheese (I used romano)
                      originalName: grated cheese (I used romano)
                      unit: tbsp
                    - aisle: Oil, Vinegar, Salad Dressing
                      amount: 1
                      consistency: liquid
                      id: 1034053
                      image: olive-oil.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: extra virgin olive oil
                      original: 1-2 tbsp extra virgin olive oil
                      originalName: extra virgin olive oil
                      unit: tbsp
                    - aisle: Produce
                      amount: 5
                      consistency: solid
                      id: 11215
                      image: garlic.jpg
                      measures:
                        metric:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                        us:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                      meta: []
                      name: garlic
                      original: 5-6 cloves garlic
                      originalName: garlic
                      unit: cloves
                    - aisle: Pasta and Rice
                      amount: 6
                      consistency: solid
                      id: 20420
                      image: fusilli.jpg
                      measures:
                        metric:
                          amount: 170.097
                          unitLong: grams
                          unitShort: g
                        us:
                          amount: 6
                          unitLong: ounces
                          unitShort: oz
                      meta:
                      - (I used linguine)
                      name: pasta
                      original: 6-8 ounces pasta (I used linguine)
                      originalName: pasta (I used linguine)
                      unit: ounces
                    - aisle: Spices and Seasonings
                      amount: 2
                      consistency: solid
                      id: 1032009
                      image: red-pepper-flakes.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                        us:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                      meta:
                      - red
                      name: red pepper flakes
                      original: couple of pinches red pepper flakes, optional
                      originalName: couple of red pepper flakes, optional
                      unit: pinches
                    - aisle: Spices and Seasonings
                      amount: 2
                      consistency: solid
                      id: 1102047
                      image: salt-and-pepper.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                        us:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                      meta:
                      - to taste
                      name: salt and pepper
                      original: salt and pepper, to taste
                      originalName: salt and pepper, to taste
                      unit: servings
                    - aisle: Produce
                      amount: 3
                      consistency: solid
                      id: 11291
                      image: spring-onions.jpg
                      measures:
                        metric:
                          amount: 3
                          unitLong: ''
                          unitShort: ''
                        us:
                          amount: 3
                          unitLong: ''
                          unitShort: ''
                      meta:
                      - white
                      - green
                      - separated
                      - chopped
                      name: scallions
                      original: 3 scallions, chopped, white and green parts separated
                      originalName: scallions, chopped, white and green parts separated
                      unit: ''
                    - aisle: Alcoholic Beverages
                      amount: 2
                      consistency: liquid
                      id: 14106
                      image: white-wine.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - white
                      name: white wine
                      original: 2-3 tbsp white wine
                      originalName: white wine
                      unit: tbsp
                    - aisle: Pasta and Rice
                      amount: 0.25
                      consistency: solid
                      id: 99025
                      image: breadcrumbs.jpg
                      measures:
                        metric:
                          amount: 59.147
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 0.25
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - whole wheat
                      - (I used panko)
                      name: whole wheat bread crumbs
                      original: 1/4 cup whole wheat bread crumbs (I used panko)
                      originalName: whole wheat bread crumbs (I used panko)
                      unit: cup
                    summary: 'Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs might be a good recipe to expand your main course repertoire. One portion of this dish contains approximately &lt;b&gt;19g of protein &lt;/b&gt;,  &lt;b&gt;20g of fat &lt;/b&gt;, and a total of  &lt;b&gt;584 calories &lt;/b&gt;. For  &lt;b&gt;$1.63 per serving &lt;/b&gt;, this recipe  &lt;b&gt;covers 23% &lt;/b&gt; of your daily requirements of vitamins and minerals. This recipe serves 2. It is brought to you by fullbellysisters.blogspot.com. 209 people were glad they tried this recipe. A mixture of scallions, salt and pepper, white wine, and a handful of other ingredients are all it takes to make this recipe so scrumptious. From preparation to the plate, this recipe takes approximately  &lt;b&gt;45 minutes &lt;/b&gt;. All things considered, we decided this recipe  &lt;b&gt;deserves a spoonacular score of 83% &lt;/b&gt;. This score is awesome. If you like this recipe, take a look at these similar recipes: &lt;a href="https://spoonacular.com/recipes/cauliflower-gratin-with-garlic-breadcrumbs-318375">Cauliflower Gratin with Garlic Breadcrumbs&lt;/a&gt;, &lt; href="https://spoonacular.com/recipes/pasta-with-cauliflower-sausage-breadcrumbs-30437">Pasta With Cauliflower, Sausage, & Breadcrumbs&lt;/a&gt;, and &lt;a href="https://spoonacular.com/recipes/pasta-with-roasted-cauliflower-parsley-and-breadcrumbs-30738">Pasta With Roasted Cauliflower, Parsley, And Breadcrumbs&lt;/a&gt;.'
                    winePairing:
                      pairedWines:
                      - chardonnay
                      - gruener veltliner
                      - sauvignon blanc
                      pairingText: Chardonnay, Gruener Veltliner, and Sauvignon Blanc are great choices for Pasta. Sauvignon Blanc and Gruner Veltliner both have herby notes that complement salads with enough acid to match tart vinaigrettes, while a Chardonnay can be a good pick for creamy salad dressings. The Buddha Kat Winery Chardonnay with a 4 out of 5 star rating seems like a good match. It costs about 25 dollars per bottle.
                      productMatches:
                      - id: 469199
                        title: Buddha Kat Winery Chardonnay
                        description: We barrel ferment our Chardonnay and age it in a mix of Oak and Stainless. Giving this light bodied wine modest oak character, a delicate floral aroma, and a warming finish.
                        price: $25.0
                        imageUrl: https://spoonacular.com/productImages/469199-312x231.jpg
                        averageRating: 0.8
                        ratingCount: 1
                        score: 0.55
                        link: https://www.amazon.com/2015-Buddha-Kat-Winery-Chardonnay/dp/B00OSAVVM4?tag=spoonacular-20
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: ids
        description: A comma-separated list of recipe ids.
        schema:
          type: string
          example: 715538,716429
        required: true
        style: form
        explode: false
        in: query
        example: 715538,716429
      - $ref: '#/components/parameters/includeNutrition'
        example: example
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Recipe-Information-Bulk
      summary: Get Recipe Information Bulk
      description: Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.
      operationId: getRecipeInformationBulk
      deprecated: false
      tags:
      - Recipes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recipes/{id}/similar:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 0
                uniqueItems: true
                items:
                  type: object
[...]
